apiVersion: apps/v1
kind: Deployment
metadata:
  name: log-generator
  namespace: {{ .Values.namespace }}
  labels:
    app: log-generator
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: log-generator
  template:
    metadata:
      labels:
        app: log-generator
      annotations:
        prometheus.io/scrape: "false"
    spec:
      containers:
      - name: log-generator
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        command: ["/bin/sh"]
        args: ["/scripts/generate-logs.sh"]
        resources:
          {{- toYaml .Values.resources | nindent 10 }}
        volumeMounts:
        - name: scripts
          mountPath: /scripts
      volumes:
      - name: scripts
        configMap:
          name: log-generator-script
          defaultMode: 0755
