// This is the main SCSS file for the CodeWizard MkDocs theme.
// @Authors: CodeWizard codewizard.co.il
// codewizard.scss
//
@use "mixins" as *;

@use "general";
@use "dark";
@use "print";
@use "nav";
@use "social";
@use "github_avatar";

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap");
