image:
  repository: harbor.local/efk/elasticsearch
  tag: "8.11.0"
  pullPolicy: IfNotPresent

ingress:
  enabled: true
  className: "nginx"
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
  hosts:
  - host: elasticsearch.local
    paths:
    - path: /
      pathType: Prefix
