image:
  repository: harbor.local/efk/kibana
  tag: "8.11.0"
  pullPolicy: IfNotPresent

ingress:
  enabled: true
  className: "nginx"
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
  hosts:
  - host: kibana.local
    paths:
    - path: /
      pathType: Prefix

dashboards:
  job:
    image: "harbor.local/efk/curl:8.5.0"
