apiVersion: v1
kind: ResourceQuota
metadata:
  name: best-effort-quota
  namespace: quota-lab
spec:
  hard:
    pods: "5"
  scopeSelector:
    matchExpressions:
      - operator: In
        scopeName: PriorityClass
        values: ["low-priority"]
