apiVersion: v1
kind: ConfigMap
metadata:
  name: filebeat-config
  namespace: {{ .Values.namespace }}
  labels:
    app: filebeat
data:
  filebeat.yml: |
    {{- toYaml .Values.filebeatConfig | nindent 4 }}
