apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: filebeat-logs-pvc
  namespace: {{ .Values.namespace }}
  labels:
    app: filebeat
spec:
  accessModes:
    - {{ .Values.persistence.accessMode | default "ReadWriteOnce" }}
  resources:
    requests:
      storage: {{ .Values.persistence.size }}
  {{- if .Values.persistence.storageClass }}
  storageClassName: {{ .Values.persistence.storageClass }}
  {{- end }}
