.social-class__email {
    color: var(--color-social-email);
}

.social-class__whatsapp {
    color: var(--color-social-whatsapp);
}

.social-class__stackoverflow {
    color: var(--color-social-stackoverflow);
}

.social-class__discord {
    color: var(--color-social-discord);
}

.social-class__linkedin {
    color: var(--color-social-linkedin);
}

.social-class__github,
.social-class__fork {
    color: var(--color-social-github);
}

.social-class__star {
    color: var(--color-social-star);
}
