apiVersion: v1
kind: Service
metadata:
  name: elasticsearch
  namespace: {{ .Values.namespace }}
  labels:
    app: elasticsearch
spec:
  type: {{ .Values.service.type }}
  ports:
  - port: {{ .Values.service.port }}
    targetPort: 9200
    protocol: TCP
    name: http
  - port: {{ .Values.service.nodePort }}
    targetPort: 9300
    protocol: TCP
    name: transport
  selector:
    app: elasticsearch
